<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
<%= will_paginate @users %>

<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate  @users %>
</div>